h1{
    text-align: center;
    background-color: rgb(91, 101, 236);
}
body{
    background-color: aqua;
}
div{
    text-align: center;
}

body{
    background: linear-gradient(rgba(96, 96, 235, 0.473),aqua, skyblue, antiquewhite);
}

nav a:hover{
    color: orange;
    text-decoration: underline;
}
nav{
    text-align: center;
}
