h1{
    text-align: center;
    background-color: rgb(91, 101, 236);
}
body{
    background-color: aqua;
}
h1{
    font-size: large;
    font-style: oblique;
}
h2{
    font-size: larger;
    font-style: oblique;
}
h3{
    font-size: larger;
    font-style: oblique;
}
p{
    font-size: small;
    font-style: inherit;
}
body{
    background: linear-gradient(rgba(96, 96, 235, 0.473),aqua, skyblue, antiquewhite);
}
div{
    margin-right: 10%;
}
nav a:hover{
    color: orange;
    text-decoration: underline;
}
