body{
    background-color: antiquewhite;
}
h1{
    font-size: larger;
}
h2{
    font-size: larger;
}
h3{
    font-size: larger;
}

body{
    background-color: aliceblue;
}
nav{
    text-align: center;
}
body{
    background: linear-gradient( rgb(124, 124, 211), rgb(50, 161, 161), aliceblue);
}



